---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { formatDate } from '../../utils/dates.utils';

// getting published posts and sorting them by decreasing published date
const posts = await getCollection('notes', ({ data }) => data.publish === true);
const sortedPosts = [...posts].sort(
  (a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime()
);
---

<BaseLayout title="Notes">
  <main>
    <article class="[ wrapper ] [ region ] [ prose ]">
      <h1>Latest notes</h1>

      <ul role="list" class="[ posts-list ] [ flow ]">
        {
          sortedPosts.map(({ data }) => (
            <li class="[ flow ]">
              <a href={`/notes/${data.slug}`}>{data.title}</a>

              <div>
                <time datetime={data.publishedDate.toISOString()}>
                  {formatDate(data.publishedDate)}
                </time>
                <p class="post-description">{data.description}</p>
              </div>
            </li>
          ))
        }
      </ul>
    </article>
  </main>
</BaseLayout>
