---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import PageMeta from '@components/seo/PageMeta.astro';
import { formatDate } from '@utils/dates.utils';
import PageSection from '@components/PageSection.astro';

// getting published posts and sorting them by decreasing published date
const posts = await getCollection('notes', ({ data }) => data.publish === true);
const sortedPosts = [...posts].sort(
  (a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime()
);
---

<BaseLayout>
  <PageMeta title="Notes" slot="meta" />

  <PageSection slot="main">
    <h1>Latest notes</h1>

    <ul role="list" class="flow posts-list">
      {
        sortedPosts.map(({ data }) => (
          <li class="flow">
            <a href={`/notes/${data.slug}`} rel="prefetch">
              {data.title}
            </a>

            <div>
              <time datetime={data.publishedDate.toISOString()}>
                {formatDate(data.publishedDate)}
              </time>
              <p class="post-description">{data.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </PageSection>
</BaseLayout>

<style>
  .posts-list li {
    --flow-space: var(--space-2xs-xs);
    border-inline-start: var(--outline-size) solid var(--accent-color);
    padding-inline-start: var(--space-s-m);
  }

  .posts-list a {
    font-size: var(--size-step-2);
    font-weight: var(--font-weight-heading);
    font-family: var(--font-heading);
  }
</style>
