---
import Emoji from '@components/Emoji.astro';
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '@utils/dates.utils';
import PageMeta from '@components/seo/PageMeta.astro';
import Socials from '@components/Socials.astro';

type Props = {
  post: CollectionEntry<'notes'>;
};

const { post } = Astro.props;
const { title, publishedDate, description, noindex } = post.data;
---

<BaseLayout>
  <PageMeta
    title={title}
    description={description}
    noindex={noindex}
    slot="meta"
  />

  <article class="wrapper region prose" slot="main">
    <h1>{title}</h1>

    <time datetime={publishedDate.toISOString()}>
      {formatDate(publishedDate)}
    </time>

    <p class="post-description">{description}</p>

    <slot />

    <p>Until next time! <Emoji emoji="ðŸ¡" label="blowfish" /></p>

    <div>
      <hr />
    </div>

    <div class="flow author">
      <p>
        Hey <Emoji emoji="ðŸ‘‹" label="waving hand" />, I'm William and I build
        intuitive and inclusive websites & User Interfaces, with a deep interest
        in design.
      </p>

      <p>
        Feel free to <a href="/contact">get in touch</a> if you have a project in
        mind or simply want to say hi, always down for a chat!
      </p>

      <Socials />
    </div>

    <p>
      <small>
        Noticed a typo, or wish to improve this post? <a
          href="https://github.com/williamhzo/williamhzo.me/tree/main/src/pages/notes"
          >Edit this page on GitHub</a
        >.
      </small>
    </p>
  </article>
</BaseLayout>

<style is:global>
  .post-description {
    font-style: italic;
  }

  .author {
    padding: var(--space-s-m);
    border: 1px solid var(--bg-color-subtle);
    border-radius: var(--space-2xs);
    margin-block-end: var(--space-2xl);
  }
</style>
