---
import Emoji from '../components/Emoji.astro';
import BaseLayout from './BaseLayout.astro';

export interface Props {
  frontmatter: {
    title: string;
    publishedDate: string;
    description: string;
  };
}

const {
  frontmatter: { title, publishedDate, description },
} = Astro.props;
---

<BaseLayout title={title}>
  <article class="[ wrapper ] [ region ] [ prose ] [ post ]">
    <h1>{title}</h1>

    <time datetime={publishedDate}>{publishedDate}</time>

    <p class="post-description">{description}</p>

    <slot />

    <p>Until next time!</p>

    <p>William <Emoji emoji="ðŸ¡" label="blowfish" /></p>

    <p>
      <small>
        Noticed a typo, or wish to improve this post? <a
          href="https://github.com/williamhzo/williamhzo.me/tree/main/src/pages/notes"
          >Edit this page on GitHub</a
        >.
      </small>
    </p>
  </article>
</BaseLayout>
