---
import Emoji from '../components/Emoji.astro';
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '../utils/dates.utils';

export interface Props {
  post: CollectionEntry<'notes'>;
}

const { post } = Astro.props;
const { title, publishedDate, description } = post.data;
---

<BaseLayout title={title}>
  <article class="[ wrapper ] [ region ] [ prose ]">
    <h1>{title}</h1>

    <time datetime={publishedDate.toISOString()}>
      {formatDate(publishedDate)}
    </time>

    <p class="post-description">{description}</p>

    <slot />

    <p>Until next time!</p>

    <p>
      William <Emoji emoji="ðŸ¡" label="blowfish" />
    </p>

    <p>
      <small>
        Noticed a typo, or wish to improve this post? <a
          href="https://github.com/williamhzo/williamhzo.me/tree/main/src/pages/notes"
          >Edit this page on GitHub</a
        >.
      </small>
    </p>
  </article>
</BaseLayout>
