---
import Emoji from '@components/Emoji.astro';
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '@utils/dates.utils';
import PageMeta from '@components/seo/PageMeta.astro';

type Props = {
  post: CollectionEntry<'notes'>;
};

const { post } = Astro.props;
const { title, publishedDate, description, noindex } = post.data;
---

<BaseLayout>
  <PageMeta
    title={title}
    description={description}
    noindex={noindex}
    slot="meta"
  />

  <article class="wrapper region prose" slot="main">
    <h1>{title}</h1>

    <time datetime={publishedDate.toISOString()}>
      {formatDate(publishedDate)}
    </time>

    <p class="post-description">{description}</p>

    <slot />

    <p>Until next time!</p>

    <p>
      William <Emoji emoji="ðŸ¡" label="blowfish" />
    </p>

    <p>
      <small>
        Noticed a typo, or wish to improve this post? <a
          href="https://github.com/williamhzo/williamhzo.me/tree/main/src/pages/notes"
          >Edit this page on GitHub</a
        >.
      </small>
    </p>
  </article>
</BaseLayout>
